
/* primare color  */
.p-color{
    color: #FD6E0A;

}

.p-button{
    background-color: #FD6E0A;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    color: rgb(250, 246, 239);
}
.send-button{
    background-color:rgb(250, 246, 239);
    padding: 15px 30px;
    border-radius: 5px;
    /* border: #FD6E0A; */
    border: 1px solid #FD6E0A;
    margin-left: 10px;
    color: #FD6E0A;
}

header{
    background-image: url("../images/developer.png");
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h3{
    font-size:25px ;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none ;
    color: #4e4e4d;
}

/* header section style  */
 
.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 65%;   
}

h1{
    font-size: 50px;
}


/* about section */
.about{
    background-color: antiquewhite;
    padding: 150px;
    margin: 100px;
}
.about-scetion{
    max-width: 1140px;
    max-height: 600px;
    /* margin: 70px 200px; */
    /* padding: 80px 200px; */
    border: 1px solid ;
    text-align: center;
    background-color: aliceblue;
}
.about-title{
    font-size: x-large;

}
.about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}